body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

.btn-1 {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgb(30, 201, 67) 0%, rgba(12,25,180,1) 100%);
    border: none;
}

.btn-1:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
    transform: scale(1.1);
    
 }

 @keyframes btnAmine {
    0%   {background-color: rgb(13, 0, 27);}
    25%  {background-color: rgb(39, 0, 70);}
    50%  {background-color: rgb(53, 0, 113);}
    100% {background-color: rgb(119, 0, 255);}
 }

 .btn-2 {
    background-color: rgb(13, 0, 27);
    color: white;
 }

 .btn-2:hover{
    animation-name: btnAmine;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }

 @keyframes buttonmoveAway {
    0% {
        transform: translate(0);
      }
      25% {
        transform: translate(-5px);
      }
      50% {
        transform: translate(0);
      }
      75% {
        transform: translate(5px);
      }
      100% {
        transform: translate(0);
      }
}

.btn-3{
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #001a18 74%);
    color: white;
}
/* When the cursor is hovering over the button the gradient of the colours on the button change, and the button moves side to side through and animation */
 .btn-3:hover {
    background-image: linear-gradient(315deg, #001a18 0%, #4dccc6 74%);
    animation-name: buttonmoveAway;
    animation-duration: 1s;
    animation-iteration-count: infinite;

 }